<ul>
  <div class="container bs-docs-container">
    <div class="row">
      <div class="" role="main">
        <h3>検索結果</h3>
        <p>「<%= @key %>」で検索</p>
        絞り込み：<input id="selectword" type="text" name="name" value="" style="margin-bottom:8px;">
        <table id="result" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>名前</th>
              <th>URL</th>
              <th>タグ</th>
              <th>数量</th>
              <th>メモ</th>
              <th>管理者</th>
            </tr>
          </thead>
          <tbody>
            <% @assets.each do |asset| %>
            <tr>
              <th scope="row"><%= asset.id %></th>
              <td><%= h asset.name %></td>
              <td><%= h asset.url %></td>
              <td><%= h asset.tag %></td>
              <td><%= h asset.count %></td>
              <td><%= h asset.memo %></td>
              <td><%= h asset.admin %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ul>

<script>
  $("#selectword").keyup(function (e) {
    console.log("tes");
    var re = new RegExp($('#selectword').val());
    if (re == null){
      $('#result tr').show();
    }else{
      $('#result tbody tr').each(function(){
        var txt = $(this).find("td:eq(0)").html();
        if(txt.match(re) != null){
          $(this).show();
        }else{
          $(this).hide();
        }
      });
    }
  });
</script>