<ul>
  <div class="container bs-docs-container">
		<div class="row">
		  <div class="" role="main">
				<div class="" data-example-id="carousel-with-captions">
			  </div>

			  <h3>検索結果</h3>
			  <table class="table table-bordered table-striped">
			  	<thead>
			  		<tr>
			  			<th>ID</th>
			  			<th>名前</th>
			  			<th>URL</th>
			  			<th>カテゴリ</th>
			  			<th>カウント</th>
			  			<th>メモ</th>
			  			<th>管理者</th>
						</tr>
			  	</thead>
			  	<tbody>
						<% @assets.each do |asset| %>
			  	  <tr>
		          <th scope="row"><%= asset.id %></th>
						  <td><%= h asset.name %></td>
						  <td><%= h asset.url %></td>
						  <td><%= h asset.category %></td>
						  <td><%= h asset.count %></td>
						  <td><%= h asset.memo %></td>
						  <td><%= h asset.admin %></td>
		        </tr>
						<% end %>
		 	  	</tbody>
			  </table>
			</div>
		</div>
	</div>
</ul>